<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/IMAGES/public/IMAGES/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/IMAGES/public/IMAGES/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/main.css">
        <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap.css.map">
        
        <title>mpesa</title>
    </head>
<body class="bg-dark">
    <div class="container bg-dark">
        <form action="/send" method="post">
            <div class="input-group mt-3">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="input-group mt-3">
                <input type="number" name="phone" class="form-control" placeholder="Phone Number" required>
            </div>
            <div class="input-group mt-3">
                <input type="number" name="amount" class="form-control" placeholder="Amount" required>
            </div>
            <div class="input-group mt-3">
                <input type="submit"  class="btn btn-success" value="Send">
            </div>
        </form>
    </div>
   
  
    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.bundle.js.map"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.js.map"></script>
    <script src="/bootstrap-icons/bootstrap-icons.json"></script>
    
    
    </body>
    </html>